.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s;
}

.primary{
    background: var(--prymary);
    color: var(--white);
}
.primary:hover{
    background: var(--prymary-hover);
}
.ghost{
    background: none;
    border: 1px solid var(--gray-light);
    color: var(--black);
}
.ghost:hover{
    background: var(--prymary-hover);
    color: var(--white);
}
.arrow{
    display: inline-block;
    margin-left: 10px;
}
.down{
    transform: rotate(90deg);
    transition: all 0.2s;
}
.primary svg, .ghost:hover svg {
    fill: var(--white);
}